.container {
    width: 60%;
    margin: 100px auto;
    background: #333;
    overflow: hidden;
}

.container input {
    background: transparent;
    border: 0;
    font-size: 36px;
    color: #fff;
}

.suggestions {
    border-top: 2px solid ;
}

.suggestions > div  {
    padding: 15px;
    font-size: 26px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;

}

.suggestions > div:hover {
    background-color: #1e4dd4;

}