<div class="container">
  <input class="search-bar" type="text" placeholder="Search Player Here..." [(ngModel)]="input" (keyup)="_api.findPlayer(input)"  />
  <div class="suggestions">
    <div (click)="_api.getPlayer(suggestion.id,suggestion.first_name,suggestion.last_name)" *ngFor="let suggestion of _api.suggestions">
     {{suggestion.first_name}}, {{suggestion.last_name}}
      
    </div>
  </div>
</div>
<div class="player-name" *ngIf="_api.seeName">
  {{_api.first_name}} {{_api.last_name}} 

</div>

<div class="box-score" >
  <table class="table"  *ngFor="let player of _api.players">
    <thead>
      <tr>
        <th class="text-center">Games Played</th>
        <th>Minutes</th>
        <th>Points</th>
        <th>Assists</th>
        <th>OREB</th>
        <th>DREB</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FG%</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>FT%</th>
        <th>3PM</th>
        <th>3PA</th>
        <th>3P%</th>
        <th>Steals</th>
        <th>Turnovers</th>
        <th>Fouls</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{player.games_played}}</td>
        <td>{{_api.player.min}}</td>
        <td>{{_api.player.ppg}}</td>
        <td class="text-center">{{_api.player.ast}}</td>
        <td>{{_api.player.oreb}}</td>
        <td>{{_api.player.reb}}</td>
        <td>{{_api.player.fgm}}</td>
        <td>{{_api.player.fga}}</td>
        <td>{{_api.player.fg_pct}}</td>
        <td>{{_api.player.ftm}}</td>
        <td>{{_api.player.fta}}</td>
        <td>{{_api.player.ft_pct}}</td>
        <td>{{_api.player.fg3m}}</td>
        <td>{{_api.player.fg3a}}</td>
        <td>{{_api.player.fg3_pct}}</td>
        <td>{{_api.player.stl}}</td>
        <td class="text-center">{{_api.player.turnover}}</td>
        <td>{{_api.player.pf}}</td>
  
  
  
      </tr>
  
  
    </tbody>
  </table>
</div>

<button class="btn btn-success animation-on-hover" type="button" *ngIf="_api.showStats"  (click)="seeGraph()">See Graph</button>

