.container {
    width: 60%;
    margin: 100px auto;
    overflow: hidden;
    color: white;
    border: dotted;
}

.container input {
    width: 100%;
    border: 0;
    font: inherit;
    font-size: 36px;
    color: #fff;
    background: none;
    text-align: left;

}

.btn-shift{
    text-align: right;
    
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.suggestions {
    border: 2px solid ;
    background: transparent;
    background-color: #1e1e2f
}

.suggestions > div  {
    padding: 15px;
    font-size: 26px;
    color: #fff;
    border: 1px solid #666;
    cursor: pointer;

}

.suggestions > div:hover {
    background-color: #1e4dd4;

}

.btn-primary {
    display: block;
    max-width: 300px;
    margin: auto;
}

canvas  {
    background: #1DB954, #191414;
}